name: Metrics
on:
  # Schedule updates (each hour)
  # schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: gazzia29
          template: classic
          base: header, metadata
          config_timezone: Europe/Paris
          plugin_habits: yes
          plugin_habits_days: 120
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_charts: yes
